[submodule "ConnectChat-Innovative-Real-Time-MERN-Chat-Application"]
	path = ConnectChat-Innovative-Real-Time-MERN-Chat-Application
	url = https://github.com/ad-github1/ConnectChat-Innovative-Real-Time-MERN-Chat-Application
